/**
 * CRUD UI list page
 */
#crud-ui-form .crui-ui-table-wrapper {
  overflow: auto;
  margin: 0;
  padding: 0;
  clear: both;
}

#crud-ui-form th {
  text-transform: none;
}

#crud-ui-form .from-to .form-item {
  float: left;
  width: 45%;
  padding-left: 4%;
  border-left: 1px solid #bebfb9;
}

#crud-ui-form .from-to .form-item:first-child {
  padding: 0 4% 0 0;
  border-left: none;
}

#crud-ui-form .container-inline-date {
  float: left;
  clear: none;
  width: 45%;
  padding-left: 4%;
  border-left: 1px solid #bebfb9;
}

#crud-ui-form .container-inline-date:first-child {
  padding: 0 4% 0 0;
  border-left: none;
}

#crud-ui-form .container-inline-date .form-item {
  width: 100%;
}

#crud-ui-form .container-inline-date .date-padding {
  float: none;
  padding: 0;
}

#crud-ui-form .container-inline-date input,
#crud-ui-form .container-inline-date select,
#crud-ui-form .container-inline-date option {
  margin: 0;
}

#crud-ui-form .form-item-crud-ui-limit {
  float: right;
  padding: 0 0 10px;
  margin: 0;
}

#crud-ui-form label {
  font-weight: normal;
}

#crud-ui-form  input.form-autocomplete,
#crud-ui-form  input.form-text,
#crud-ui-form  input.form-file,
#crud-ui-form  textarea.form-textarea,
#crud-ui-form  select.form-select {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  width: 100%;
  padding: 0;
}

#crud-ui-form tbody tr {
  border: 1px solid #bebfb9;
}

#crud-ui-form tbody td {
  border: none;
}

#crud-ui-form tbody tr:first-child td {
  background-color: #e1e2dc;
  border: 1px solid #bebfb9;
}

#crud-ui-form tbody tr:first-child td.active {
  background-color: #bebfb9;
}

#crud-ui-form .action-link {
  padding-left: 10px;
}

#crud-ui-form .action-link:first-child {
  padding-left: 0;
}

#crud-ui-form .container-inline-date .form-item .form-item {
  float: none;
}

#crud-ui-form .container-inline-date .form-item .form-item label {
  display: none;
}


/**
 * CRUD UI edit / add page
 */
#crud-ui-row-form .container-inline-date .form-type-date-popup {
  width: 100%;
}

#crud-ui-row-form .container-inline-date .date-padding {
  padding: 0;
}

#crud-ui-row-form .container-inline-date .form-item input {
  width: auto;
}

#crud-ui-row-form .container-inline-date .form-item .form-item {
  float: none;
}
